{% extends "core/base.html" %} {% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Start date</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}

    <tr>
      <td>{{ item.first_name }}</td>
      <td>{{ item.last_name }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.start_date }}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination justify-content-center">
    {% if data.has_previous %}
    <li class="page-item">
      <a href="?page={{ data.previous_page_number }}" class="page-link">Previous</a>
    </li>
    {% endif %}

    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
      <li class="page-item active"><a class="page-link" href="">{{ i }}</a></li>

      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if data.has_next %}
      <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
    {% endif %}
  </ul>
</nav>

{% endblock %}