{% extends "core/base.html" %} {% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Style</th>
      <th scope="col">Purchase price</th>
      <th scope="col">Sale price</th>
      <th scope="col">Qty on hand</th>
      <th scope="col">Commission percentage</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}

    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.manufacturer }}</td>
      <td>{{ item.style }}</td>
      <td>{{ item.purchase_price }}</td>
      <td>{{ item.sale_price }}</td>
      <td>{{ item.qty_on_hand }}</td>
      <td>{{ item.commission_percentage }}</td>
      <td>
        <a href="{% url 'core:product_update' item.id %}" class="btn btn-primary btn-sm">Update</a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>=

{% endblock %}
