{% extends 'core/base.html' %} {% block content %}

<h2></h2>

<form class="row g-3 justify-content-center" method="POST">
  {% csrf_token %}
  <div class="col-sm-2">
    <input name="start_date" class="form-control" type="date" {% if start_date %} value={{ start_date }}
      {% elif oldest_date %} value={{ oldest_date }} {% endif %} {% if oldest_date %} min={{ oldest_date }} {% endif %}
      {% if nearest_date %} max={{ nearest_date }} {% endif %} />

    <label class="form-label text-muted">Start Date</label>
  </div>
  <div class="col-sm-2">

    <input name="end_date" class="form-control" type="date" {% if end_date %} value={{ end_date }}
      {% elif nearest_date %} value={{ nearest_date }} {% endif %} {% if oldest_date %} min={{ oldest_date }}
      {% endif %} {% if nearest_date %} max={{ nearest_date }} {% endif %} />

    <label class="form-label text-muted">End Date</label>
  </div>
  <div class="col-sm-2">
    <button type="submit" class="btn btn-primary">Apply</button>
  </div>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Sales Person</th>
      <th scope="col">Salesperson #</th>
      <th scope="col">Customer</th>
      <th scope="col">Customer #</th>
      <th scope="col">Sales Date</th>
      <th scope="col">Price</th>
      <th scope="col">Commission</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>{{ item.0 }}</td>
      <td>{{ item.2 }}, {{ item.1 }}</td>
      <td>{{ item.3 }}</td>
      <td>{{ item.5 }}, {{ item.4 }}</td>
      <td>{{ item.6 }}</td>
      <td>{{ item.7 }}</td>
      <td>{{ item.8 }}</td>
      <td>{{ item.9 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination justify-content-center">
    {% if data.has_previous %}
    <li class="page-item">
      <a href="?page={{ data.previous_page_number }}" class="page-link">Previous</a>
    </li>
    {% endif %}

    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
      <li class="page-item active"><a class="page-link" href="">{{ i }}</a></li>

      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if data.has_next %}
      <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
    {% endif %}
  </ul>
</nav>


{% endblock %}