{% extends "core/base.html" %} {% block content %}

<form method="post" class="row g-3">
  {% csrf_token %}
  
    <div class="col-12">
      <label class="form-label">Product</label>
      <select class="form-select" name="product">
        {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="col-12">
        <label class="form-label">Sales Person</label>
        <select class="form-select" name=-"salesperson">
          {% for person in salesperson %}
              <option value="{{ person.id }}">{{ person.first_name }} {{ person.last_name }}, {{ person.phone }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-12">
        <label class="form-label">Customer</label>
        <select class="form-select" name="customer">
          {% for customer in customers %}
              <option value="{{ person.iπd }}">{{ customer.first_name }} {{ customer.last_name }}, {{ customer.phone }}</option>
          {% endfor %}
        </select>
      </div>

    <div class="col-12">
      <label class="form-label">Sales Date</label>
      <input type="date" class="form-control" name="sales_date" placeholder="" value="">
    </div>
    <div class="col-12">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" name="price" placeholder="" value="">
    </div>
    <div class="col-12">
      <label class="form-label">Salesperson Commission</label>
      <input type="number" class="form-control" name="salesperson_commission" placeholder="" value="">
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-secondary">Cancel</button>
      <button type="clear" class="btn btn-danger">Clear</button>
    </div>

  </form>
  
  {% endblock %}