{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'core:index' %}">
      <img src="{% static 'core/img/favicon.jpg' %}" alt="" height="24" class="d-inline-block align-text-top">
      BeSpoked Bike
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {% for app in apps_link %}
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name|lower == app.app_name|lower %}active{% endif %}"
            href="{% url app.app_link %}">{{ app.app_name }}</a>
        </li>
        {% endfor %}


      </ul>
    </div>
  </div>
</nav>