{% extends "core/base.html" %} {% block content %}
{% if form.non_field_errors %}
<span id="error-alert" class="text-danger">
  {% for error in form.non_field_errors %}
  <span>{{ error }}</span>
  {% endfor %}
</span>
{% endif %}

<div class="col-5">

<form method="post" class="row g-3">
  {% csrf_token %}

  <div class="col-12">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="name" value="{{data.name}}">
    {% if form.errors.name %}
    <span id="error-alert" class="text-danger">{{ form.errors.name.0 }}</span>
    {% endif %}
  </div>
  <div class="col-12">
    <label class="form-label">Manufacturer</label>
    <input type="text" class="form-control" name="manufacturer" value="{{data.manufacturer}}">
    {% if form.errors.manufacturer %}
    <span id="error-alert" class="text-danger">{{ form.errors.manufacturer.0 }}</span>
    {% endif %}
  </div>
  <div class="col-12">
    <label class="form-label">Style</label>
    <input type="text" class="form-control" name="style" placeholder="1234 Main St" value="{{data.style}}">
    {% if form.errors.style %}
    <span id="error-alert" class="text-danger">{{ form.errors.style.0 }}</span>
    {% endif %}
  </div>
  <div class="col-12">
    <label class="form-label">Purchase price</label>
    <input type="text" class="form-control" name="purchase_price" placeholder="" value="{{data.purchase_price}}">
    {% if form.errors.purchase_price %}
    <span id="error-alert" class="text-danger">{{ form.errors.purchase_price.0 }}</span>
    {% endif %}
  </div>
  <div class="col-12">
    <label class="form-label">Sale price</label>
    <input type="text" class="form-control" name="sale_price" placeholder="" value="{{data.sale_price}}">
    {% if form.errors.sale_price %}
    <span id="error-alert" class="text-danger">{{ form.errors.sale_price.0 }}</span>
    {% endif %}
  </div>
  <div class="col-12">
    <label class="form-label">Qty on hand</label>
    <input type="text" class="form-control" name="qty_on_hand" placeholder="" value="{{data.qty_on_hand}}">
    {% if form.errors.qty_on_hand %}
    <span id="error-alert" class="text-danger">{{ form.errors.qty_on_hand.0 }}</span>
    {% endif %}
  </div>
  <div class="col-12">
    <label class="form-label">Commission percentage</label>
    <input type="text" class="form-control" name="commission_percentage" placeholder=""
      value="{{data.commission_percentage}}">
    {% if form.errors.commission_percentage %}
    <span id="error-alert" class="text-danger">{{ form.errors.commission_percentage.0 }}</span>
    {% endif %}
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>

</div>

{% endblock %}