{% extends "core/base.html" %} {% block content %}
{% load static %}

<form method="post" class="row g-3">
  {% csrf_token %}

  <div class="col-12">
    <label class="form-label">Product</label>
    <select class="form-select" name="product" id="product-select">
      {% for product in products %}
      <option value="{{ product.id }}">{{ product.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-12">
    <label class="form-label">Sales Person</label>
    <select class="form-select" name="salesperson" id="salesperson">
      {% for person in salesperson %}
      <option value="{{ person.id }}">{{ person.first_name }} {{ person.last_name }}, {{ person.phone }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-12">
    <label class="form-label">Customer</label>
    <select class="form-select" name="customer" id="customer">
      {% for customer in customers %}
      <option value="{{ customer.id }}">{{ customer.last_name }}, {{ customer.first_name }} - {{ customer.phone }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="col-12">
    <label class="form-label">Sales Date</label>
    <input type="date" class="form-control" name="sales_date" placeholder="" value="" id="sales_date" >
  </div>

  <div class="col-12">
    <label class="form-label">Price $ (After Discount)</label>
    <input type="number" class="form-control" name="price" placeholder="" value="" disabled readonly>
  </div>
  <div class="col-12">
    <label class="form-label">Discount ($)</label>
    <input type="number" class="form-control" name="discount" placeholder="" value="" disabled readonly>
  </div>
  <div class="col-12">
    <label class="form-label">Salesperson Commission ($)</label>
    <input type="number" class="form-control" name="salesperson_commission" placeholder="" value="" disabled readonly>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

</form>

<script src="{% static 'core/js/create_sale.js' %}"></script>

{% endblock %}