{% extends "core/base.html" %} {% block content %}
{% load static %}


<form class="row g-3 justify-content-center" method="POST">
  {% csrf_token %}
  <div class="col-sm-2">
    <select class="form-select" name="year">
      {% for year in year_range %}
      <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
    <label class="form-label">Year</label>

  </div>
  <div class="col-sm-2">

    <select class="form-select" name="quarter">
      <option value="1">Q1</option>
      <option value="2">Q2</option>
      <option value="3">Q3</option>
      <option value="4">Q4</option>
    </select>
    <label class="form-label">Quarter</label>

  </div>
  <div class="col-sm-2">
    <button type="submit" class="btn btn-primary">Apply</button>
  </div>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      {% comment %} <th scope="col">Salesperson Id</th> {% endcomment %}
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Revenue Price ($)</th>
      <th scope="col">Commission ($)</th>
      <th scope="col">Total Product</th>
      {% comment %} <th scope="col">Sale Date</th> {% endcomment %}
    </tr>
  </thead>
  <tbody>
    {% for item in stats %}
    <tr>
      {% comment %} <td>{{ item.0 }}</td> {% endcomment %}
      <td>{{ item.1 }}</td>
      <td>{{ item.2 }}</td>
      <td>{{ item.3 }}</td>
      <td>{{ item.4 }}</td>
      <td>{{ item.5 }}</td>
      <td>{{ item.6 }}</td>
      {% comment %} <td>{{ item.8 }}</td> {% endcomment %}
    </tr>

    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination justify-content-center">
    {% if data.has_previous %}
    <li class="page-item">
      <a href="?page={{ data.previous_page_number }}" class="page-link">Previous</a>
    </li>
    {% endif %}

    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
      <li class="page-item active"><a class="page-link" href="">{{ i }}</a></li>

      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if data.has_next %}
      <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
    {% endif %}
  </ul>
</nav>


{% endblock %}