.image-container {
    width: 300px;
    height: 150px;
    background-color: #9EDDFF;
    color: #213555;
    background-image: url('your-image.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.image-container:hover {
    background-color: #6499E9;
    color: white;
}

@media (min-width: 300px) {
    .image-container {
        width: 100%; /* Adjust the max-width for medium and larger screens */
    }
}